.two-column {
    display: flex;
    flex-wrap: wrap;

    &__column {
        width: 50%;
        max-width: 50%;
        box-sizing: border-box;
        position: relative;

        &:first-child {
            padding-right: 2%;
        }

        &_main {
            padding: 0 10px 0 60px;
            font-size: 21px;
            font-weight: 700;
            line-height: 1.3;
        }

        &_padding-left {
            padding-left: 30px !important;
        }

        &_small {
            width: 45%;
            max-width: 45%;
        }

        &_big {
            width: 55%;
            max-width: 55%;
        }
    }

    &_padding {
        padding: 50px 0 90px 0;
    }

    &_padding-small {
        padding: 30px 0;
    }

    &_mainpage {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.2;
    }
}


@media (max-width: $tablet-point) {
    .two-column {
        &__column_main {
            padding: 0;
        }
    }
}

@media (max-width: $mobile-point) {
    .two-column {
        line-height: 1.3;

        &__column {
            width: 100%;
            max-width: 100%;

            & + .two-column__column {
                margin-top: 15px;
            }
        }

        &_padding {
            padding: 30px 0;
        }
    }
}
