@import "./../../scss/_variables.scss";

.top-menu {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    flex-wrap: wrap;

    &__element {
        display: inline-block;
        vertical-align: middle;
        padding: 20px 0;
        position: relative;

        &_submenu {
            display: block;
            padding: 10px 15px;
        }

        &:hover, &_active {
            & > .top-menu__submenu {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__link {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        display: inline-block;
        position: relative;

        &:hover {
            text-decoration: none;
        }

        @include link-decoration ($white, 2px, 2px, 6px, 3px, 0.4s);
    }

    &__menu-button {
        display: none;
        width: 40px;
        background-color: transparent;
        border: 1px solid $white;
        padding: 8px;
        box-sizing: border-box;
        border-radius: 3px;
        outline: none;
        display: inline-block;
        transition: 0.2s;
        vertical-align: middle;

        &_active {
            .top-menu__line {
                background-color: $white;
            }

            .top-menu__line:nth-child(1){
            	transform: translate(0, 7px) rotate(-45deg) scalex(1.5);
            }

            .top-menu__line:nth-child(2){
            	opacity: 0;
            }

            .top-menu__line:nth-child(3){
                transform: translate(0, -7px) rotate(45deg) scalex(1.5);
            }
        }
    }

    &__line {
        height: 2px;
        width: 100%;
        background-color: $white;
        display: block;
        transition: 0.2s;

        & + .top-menu__line {
            margin-top: 5px;
        }
    }

    &__submenu {
        position: absolute;
        top: 100%;
        width: 280px;
        background-color: transparent;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        padding: 15px 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        z-index: 10;
    }

    &__submenu-button {
        display: none;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 20px;
        right: 0px;

        &:after, &:before {
            content: '';
            height: 10px;
            width: 2px;
            background-color: $black;
            display: block;
            top: 4px;
            position: absolute;
            transition: 0.4s;
        }

        &:after {
            transform: rotate(45deg);
            right: 4px;
        }

        &:before {
            transform: rotate(-45deg);
            right: 10px;
        }

        &_active {
            &:after {
                right: 10px;
            }

            &:before {
                right: 4px;
            }
        }
    }
}

@media (max-width: $tablet-point) {
    .top-menu {
        &__link {
            font-size: 13px;
        }

        &__element {
            &_parent {
                padding-right: 20px;
            }
        }

        &__submenu {
            opacity: 1;
            visibility: visible;
            display: none;
            transition: none;
        }

        &__submenu-button {
            display: block;
        }
    }
}

@media (max-width: $mobile-point) {
    .top-menu {
        display: none;
        text-align: center;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        border-radius: 3px;

        &__element {
            display: block;
            width: 100%;
            padding: 0;
            text-align: center;

            &_parent {
                text-align: center;
            }

            &_submenu {
                width: 60%;
                display: inline-block;

                &:first-child {
                    border-top: 1px solid $white;
                }

                &:last-child {
                    border-bottom: 1px solid $white;
                }
            }
        }

        &__link {
            padding: 10px 0;
            vertical-align: middle;
            font-size: 14px;

            &:after {
                content: none;
            }

            &:hover {
                &:after {
                    content: none;
                }
            }
        }

        &__menu-button {
            display: inline-block;
        }

        &__submenu {
            opacity: 1;
            visibility: visible;
            position: relative;
            top: 0;
            width: auto;
            padding: 0;
            display: none;
            transition: none;
            text-align: center;
            border-top: none;
            border-bottom: none;
        }

        &__submenu-button {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            top: 0;
        }
    }
}
