@import "./_mixins.scss";

$small-mobile-point: 374px;
$mobile-point: 767px;
$tablet-point: 991px;
$small-device-point: 1160px;
$big-device-point: 1400px;

$container-responsive: 75%;
$container-big: 1200px;
$container: 1020px;
$container-small: 960px;
$container-tiny: 800px;
$container-table: 730px;




$white: #ffffff;
$black: #474747;
$white-dark: #f1f2f2;


$facebook: #3b5998;
$vk: #45668e;
$instagram: #e1306c;
$youtube: #cd201f;
