@import "./_mixins.scss";

$small-mobile-point: 374px;
$mobile-point: 767px;
$tablet-point: 991px;
$small-device-point: 1160px;
$big-device-point: 1400px;

$container-big: 1200px;
$container: 1020px;
$container-small: 960px;
$container-table: 740px;




$white: #ffffff;
$black: #474747;


$facebook: #3b5998;
$vk: #45668e;
$instagram: #e1306c;
$youtube: #cd201f;
