@import "./_reset.scss";
@import "./_variables.scss";
@import "./_mixins.scss";

@import "./../modules/header/_header.scss";
@import "./../modules/footer/footer.scss";
@import "./../modules/container/_container.scss";
@import "./../modules/two-column/_two-column.scss";
@import "./../modules/title-back/_title-back.scss";
@import "./../modules/page/_page.scss";
@import "./../modules/button/_button.scss";
@import "./../modules/error-404/_error-404.scss";
@import "./../modules/modal/modal.scss";
@import "./../modules/select-custom/_select-custom.scss";
@import "./../modules/date-custom/_date-custom.scss";



body {
    font-family: 'Ubuntu', sans-serif;
}

::selection {
    background-color: $black;
    color: $white;
}

b {
    font-weight: 700;
}

p {
    padding-bottom: 10px;
}

a {
    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

img.right {
    margin-right: 15px;
}

img.left {
    margin-left: 15px;
}

img.top {
    margin-top: 15px;
}

img.bottom {
    margin-bottom: 15px;
}

ymaps {
	filter: grayscale(1);
}

::selection {
    background-color: $black;
    color: $white;
}

.fancybox-show-thumbs .fancybox-inner {
    right: 0;
}

.fancybox-thumbs {
    width: 100%;
    top: auto;
    padding: 0;
    background-color: transparent;
    z-index: 100000;
}

.fancybox-thumbs>ul>li {
    border: none;
    width: 250px;
    height: 130px;
}

.fancybox-caption-wrap {
    padding: 0;
    bottom: 140px;
    background: transparent;
    left: 50px;
}

.fancybox-caption {
    border-top: none;
    font-size: 21px;
    text-transform: uppercase;
}

.fancybox-arrow {
    z-index: 100000;
}

.fancybox-toolbar {
    bottom: 0;
}

.fancybox-button.fancybox-button--fullscreen {
    position: absolute;
    bottom: 160px;
    right: 0;
}

.fancybox-button--close:after, .fancybox-button--close:before {
    background-color: $white;
    width: 25px;
    height: 3px;
    transition: 0.3s;
}

.fancybox-button.fancybox-button--close {
    background-color: transparent;
    top: 5px;
    right: 10px;

    &:hover {
        background-color: transparent;

        &:after, &:before {
            background-color: rgba($white, 0.7);
        }
    }
}

.fancybox-button--fullscreen:before {
    border: none;
}

.fancybox-button--fullscreen {
    background-color: transparent !important;
    background-image: url('./../images/arrow-wide.png');
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    right: 15px !important;

    &:after, &:before {
        content: none;
    }

    &:hover {
        background-color: transparent !important;
        background-image: url('./../images/arrow-wide.png') !important;
        background-position: center !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }
}

.fancybox-thumbs .slick-slide {
    height: 140px !important;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
}

.fancybox-thumbs .slick-slide img {
    height: 140px !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.fancybox-thumbs .slick-slide:before {
    border: none;
    background-color: rgba($black, 0.6);
    opacity: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
}

.fancybox-thumbs .slick-slide.slick-current:before {
    opacity: 0;
}

.fancybox-thumbs .slick-slide:hover:before {
    opacity: 0;
}

.fancybox-thumbs .related-sliders__arrow {
    border-left: 2px solid $white;
    border-bottom: 2px solid $white;
    z-index: 100;

    &:hover {
        border-left: 2px solid rgba($white, 0.5);
        border-bottom: 2px solid rgba($white, 0.5);
    }
}

.fancybox-thumbs .related-sliders__arrow_prev {
    left: 10px;
}

.fancybox-thumbs .related-sliders__arrow_next {
    right: 10px;
}

@media (max-width: $tablet-point) {
    .fancybox-button.fancybox-button--fullscreen {
        bottom: 30px;
    }

    .fancybox-caption-wrap {
        bottom: 30px;
    }
}
