@import "./../../scss/_variables.scss";

.tender-detail {
    &__name {
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 15px;
    }

    &__options {
        border-bottom: 1px solid $black;
    }

    &__option {
        padding: 20px 15px;
        display: flex;
        font-size: 15px;
        font-weight: 300;

        & + .tender-detail__option {
            border-top: 1px solid $black;
        }
    }

    &__option-name {
        min-width: 60%;
        width: 60%;
    }

    &__print-text {
        vertical-align: middle;
        font-size: 13px;
        font-weight: 500;
        position: relative;

        &:after {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba($black, 0.5);
            content: '';
            opacity: 1;
            transition: 0.4s;
            transform: translateY(0);
        }
    }

    &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
            .tender-detail__print-text:after {
                height: 1px;
                opacity: 0;
                transform: translateY(5px);
            }
        }

        img {
            width: 38px;
            height: 32px;
            vertical-align: middle;
        }
    }

    &__option-value {
        &_buttons {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__button {
        & + .tender-detail__button {
            margin-top: 20px;
        }

        &:after {
            content: none;
        }

        &:hover {
            &:after {
                content: none;
            }
        }
    }
}
