@import "./../../scss/_variables.scss";

.project-map {
    position: relative;

    &__js {
        height: 650px;
    }

    .ymaps-2-1-50-ground-pane {
        filter: grayscale(1);
    }

    &__filter {
        width: 180px;
        border: 2px solid $black;
        font-size: 13px;
        display: inline-block;
        position: absolute;
        top: 120px;
        right: 70px;
        z-index: 1;
        background-color: $white;

        img {
            margin: 0 10px;
            float: left;
            max-width: 25px;
            position: relative;
            top: 3px;
        }
    }

    &__filter-element {
        padding: 5px 40px 5px 5px;
        cursor: pointer;
        transition: 0.4s;
        position: relative;

        &:after {
            content: '';
            height: 25px;
            width: 1px;
            display: inline-block;
            background-color: $black;
            transform: rotate(45deg);
            top: 10px;
            right: 20px;
            position: absolute;
            opacity: 0;
            transition: 0.4s;
        }

        &:before {
            content: '';
            height: 25px;
            width: 1px;
            display: inline-block;
            background-color: $black;
            transform: rotate(-45deg);
            top: 10px;
            right: 20px;
            position: absolute;
            opacity: 0;
            transition: 0.4s;
        }

        &_active {
            background-color: rgba($black, 0.05);

            &:after {
                opacity: 1;
            }

            &:before {
                opacity: 1;
            }
        }

        & + .project-map__filter-element {
            border-top: 2px solid $black;
        }
    }

    &__project {
        border: 2px solid rgba($black, 0.5);
        background-color: $white;
        display: block;
        text-align: center;
        backface-visibility: hidden;

        &:after, &:before {
            content: none !important;
        }

        img {
            width: 100%;
        }

        &:hover {
            .project-map__project-name:after {
                height: 1px;
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }

    &__project-name {
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        margin: 5px 15px 7px 15px;
        position: relative;
        display: inline-block;

        &:after {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background: $black;
            content: '';
            opacity: 0;
            transition: 0.4s;
            transform: translateY(-4px);
        }
    }

    &__project-wrap {
        position: relative;
        width: 230px;
        transform: translate(-115px, -100%);
    }

    &__project-close {
        position: absolute;
        top: -25px;
        right: -25px;
        z-index: 1;
        width: 25px;
        height: 25px;
        cursor: pointer;

        &:after {
            content: '';
            height: 25px;
            width: 1px;
            display: inline-block;
            background-color: $black;
            transform: rotate(45deg);
            opacity: 1;
            transition: 0.4s;
            position: absolute;
            top: 0;
            left: 12px;
            transition: 0.4s;
        }

        &:before {
            content: '';
            height: 25px;
            width: 1px;
            display: inline-block;
            background-color: $black;
            transform: rotate(-45deg);
            opacity: 1;
            transition: 0.4s;
            position: absolute;
            top: 0;
            left: 12px;
            transition: 0.4s;
        }

        &:hover {
            &:after {
                background-color: rgba($black, 0.5);
            }

            &:before {
                background-color: rgba($black, 0.5);
            }
        }
    }
}

@media (max-width: $tablet-point) {
    .project-map {
        &__filter {
            top: 60px;
            right: 10px;
        }
    }
}
