@import "./../../scss/_variables.scss";

.news-preview {
    padding: 50px 0 40px 0;
    font-weight: 500;

    &__name {
        font-size: 26px;
        text-transform: uppercase;
        padding-bottom: 30px;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__single {
        width: 47%;
        min-width: 47%;
        margin-bottom: 30px;
        @include link-decoration-important ($black, 2px, 2px, 6px, 3px, 0.4s);
        color: $black;
        text-decoration: none;
    }

    &__date {
        font-size: 16px;
        padding-bottom: 10px;
    }

    &__title {
        font-size: 15px;
        line-height: 1.2;
    }
}

@media (max-width: $mobile-point) {
    .news-preview {
        padding-top: 20px;

        &__name {
            padding-bottom: 15px;
        }

        &__single {
            width: 100%;
            min-width: 100%;
        }

        &__date {
            padding-bottom: 5px;
        }
    }
}
