@import "./../../scss/_variables.scss";


.map {
    position: relative;

    &__js {
        height: 400px;

        &_project {
            height: 320px;
        }
    }

    &__content {
        position: absolute;
        top: 20px;
        z-index: 1;
        display: inline-block;
        background-color: $white;
        padding: 20px;
        box-sizing: border-box;
    }

    .ymaps-2-1-50-ground-pane {
        filter: grayscale(1);
    }
}

@media (max-width: $tablet-point) {
    .map {
        &__content {
            position: relative;
            top: 0;
        }
    }
}

@media (max-width: $mobile-point) {
    .map {
        &__content {
            left: 0 !important;
        }
    }
}
