.container {
    margin-left: auto;
    margin-right: auto;
    width: $container;
    box-sizing: border-box;

    &_small {
        width: $container-tiny;
    }

    &_responsive {
        width: $container-responsive;
    }

    &_full {
        width: 100%;
    } 
}

@media (max-width: $big-device-point) {
    .container {
        &_responsive {
            width: $container;
        }

        &_full {
            width: 100%;
        }
    }
}

@media (max-width: $small-device-point) {
    .container {
        width: $container-small;

        &_small {
            width: $container-tiny;
        }

        &_full {
            width: 100%;
        }
    }
}

@media (max-width: $tablet-point) {
    .container {
        width: $container-table;
        padding: 0 15px;

        &_small {
            width: $container-table;
        }

        &_full {
            width: 100%;
        }
    }
}

@media (max-width: $mobile-point) {
    .container {
        width: 100%;
    }
}

@media (max-width: $small-mobile-point) {
    .container {
        padding: 0 5px;
    }
}
