.date-custom {
    position: relative;
    font-size: 15px;
    font-weight: 400;

    &__value {
        cursor: pointer;
        outline: none;
        padding: 3px 30px 0px 10px;
        position: relative;
        border: 2px solid $black;
        transition: 0.5s;
        box-sizing: border-box;
        position: relative;
        height: 28px;
    }

    &__value-arrow {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        bottom: 0;
        border-left: 2px solid rgba($black, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_tenders {
        margin-top: 5px;
    }

    svg {
        width: 18px;
        height: 18px;
    }

    .svg-date {
        fill: $black;
        transition: 0.4s;
    }

    &:hover {
        .svg-date_hover {
            fill: transparent;
        }
    }
}
