.page {
    padding: 40px 0 30px 0;
    line-height: 1.4;
    font-size: 15px;
    font-weight: 300;


    &__title {
        font-size: 26px;
        text-transform: uppercase;
        padding-bottom: 30px;
        text-align: center;
        font-weight: 500;

        img {
            vertical-align: middle;
            margin: 0 15px;
            max-width: 50px;
        }
    }

    &__title-description {
        font-weight: 300;
        font-size: 15px;
        text-transform: none;
    }

    a {
        text-decoration: none;
        color: $black;
        font-weight: 500;
        @include link-decoration ($black, 1px, 1px, 5px, 1px, 0.4s);
    }

    li {
        &:before {
            display: inline-block;
            height: 4px;
            width: 4px;
            border-radius: 100%;
            content: '';
            background-color: $black;
            vertical-align: middle;
            margin-right: 7px;
            position: relative;
            top: -1px;
        }
    }

    ul {
        padding-bottom: 10px;
    }

    &__important {
        padding: 15px 0;
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;
    }

    &__check {
        li {
            padding-bottom: 15px;

            &:before {
                display: inline-block;
                height: 7px;
                width: 15px;
                content: '';
                border-bottom: 2px solid $black;
                border-left: 2px solid $black;
                border-radius: 0;
                background-color: transparent;
                transform: rotate(-50deg);
                vertical-align: top;
                top: 2px;
            }
        }
    }

    &_without-padding {
        padding: 0;
    }

    &__font-medium {
        font-weight: 500;
    }
}

@media (max-width: $mobile-point) {
    .page {
        &__title {
            img {
                max-width: 30px;
            }
        }
    }
}
