.page {
    padding-bottom: 30px;
    
    &__title {
        font-size: 26px;
        text-transform: uppercase;
        padding: 40px 0;
        text-align: center;
        font-weight: 500;
    }
}
