@import "./../../scss/_variables.scss";
@import "./../../modules/tender/_tender.scss";

.tenders {
    &__header {
        display: flex;
    }

    &__info {
        padding-top: 8px;
    }

    .time {
        margin-right: 200px;
    }

    .tender + .tender {
        border-top: 1px solid $black;
    }

    &__print {
        text-align: center;
    }

    &__print-text {
        vertical-align: middle;
        font-size: 13px;
        font-weight: 500;
        position: relative;

        &:after {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba($black, 0.5);
            content: '';
            opacity: 1;
            transition: 0.4s;
            transform: translateY(0);
        }
    }

    &__print-button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
            .tenders__print-text:after {
                height: 1px;
                opacity: 0;
                transform: translateY(5px);
            }
        }

        svg {
            width: 38px;
            height: 32px;
            vertical-align: middle;
        }
    }

    &__list {
        border-bottom: 1px solid $black;
        margin-bottom: 25px;
    }

    &__js {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($white, 0.8);
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
        }

        &:after {
            content: '';
            position: absolute;
            height: 160px;
            width: 160px;
            left: 50%;
            top: 50%;
            margin-top: -80px;
            margin-left: -80px;
            z-index: 2;
            background-image: url('./images/loading.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            animation-name: spin;
            animation-duration: 1500ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;

            @keyframes spin {
                from {
                    transform:rotate(0deg);
                }
                to {
                    transform:rotate(360deg);
                }
            }
        }

        &_loading {
            &:before {
                opacity: 1;
                visibility: visible;
            }

            &:after {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

@media (max-width: $mobile-point) {
    .tenders {
        &__header {
            flex-direction: column;
        }

        .time {
            margin-right: 0;
            margin-left: 30px;
        }
    }
}

@media print {
    .tenders {
        &__print-button {
            display: none;
        }
    }
}
